img.portrait {
    width: 100%;
    height: auto;
}

.browser_body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e1e;
    color: #dcdcdc;
}

* {
    box-sizing: border-box;
}

.browser_container {
    border: 3px solid #444;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #2e2e2e;
}

.browser_row {
    padding: 10px;
    background: 2e2e2e;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.browser_column {
    float: left;
}

.browser_left {
    width: 15%;
}

.browser_right {
    width: 10%;
}

.browser_middle {
    width: 75%;
}

.browser_row:after {
    content: "";
    display: table;
    clear: both;
}

.dot {
    margin-top: 4px;
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.browser_url {
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: #444;
    margin-top: -8px;
    height: 25px;
    color: #ffffff;
    padding: 5px;
}

.browser_bar {
    width: 17px;
    height: 3px;
    background-color: #aaa;
    margin: 3px 0;
    display: block;
}

.browser_content {
    padding: 10px;
}
